html {
    background: $primary;
    color: $light;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;


    svg {
        fill: $light;
        ;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: large;
    line-height: 2rem;
    text-align: center;
    height: fit-content;
    padding-left: 13px;
}


.icon {
    width: 12px;
    height: 12px;
}